@import "@/styles/mixins.scss";

.landingSection {
  :global {
    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      .bgLogo {
        position: absolute;
        top: 0;
        left: 50%;
        width: 60%;
        height: auto;
        transform: translate(-50%, calc(-50% + 47.5vh));
        z-index: 1;
  
        @media (max-aspect-ratio: 1/1) {
          width: 100%;
        }
  
        &.spin { z-index: 2; }
      }
    }
  
    .foreground {
      position: relative;
      width: 100%;
      height: 100%;

      .localeSelectorContainer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 10%;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-aspect-ratio: 1/1) {
          bottom: 5vh;
          bottom: 5dvh;

          @media (max-width: 720px) {
            height: 7.5%;
          }
        }

        a {
          position: relative;
          width: fit-content;
          height: 100%;
          margin: 0 4px;

          @media (max-aspect-ratio: 1/1) and (min-width: 720px) {
            margin: 0 8px;

            button {
              font-size: 1.25rem;
            }
          }
        }

        .localeButton {
          position: relative;
          height: 100%;
          aspect-ratio: 1/1;
          color: var(--secondary-color);
          cursor: pointer;
          border: 3px solid var(--secondary-color);
          border-radius: 50%;
          background: none;
          text-align: center;
          @include metallic;

          &.selected {
            background-color: var(--secondary-color);
            background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
            color: var(--primary-color-bg);
            font-weight: 900;
          }
        }
      }

      .arrow {
        position: absolute;
        left: 50%;
        bottom: -10vh;
        width: 40px;
        height: 40px;

        @media (max-aspect-ratio: 1/1) {
          bottom: -5vh;

          @media (min-width: 720px) {
            width: 80px;
            height: 80px;
          }
        }
  
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}