.memorabiliaSection {
  background-color: var(--primary-color-bg);
  
  :global {
    .scheduleContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .scheduleItem {
        --label-height: 1.25rem;

        font-size: 1rem;
        line-height: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        color: var(--secondary-color);

        &.active {
          font-size: 1.5rem;
          line-height: 1.5rem;
          color: var(--primary-color);

          .labelContainer .labelWrapper {
            font-size: 1rem;
            background-color: var(--secondary-color);
          }
        }
  
        .labelContainer {
          position: relative;
          width: 100%;
          height: var(--label-height);

          .labelWrapper {
            width: 30%;
            height: 100%;
            color: var(--primary-color-bg);
            background-color: var(--specific-color);
            display: flex;
            align-items: center;

            &::after {
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 calc(var(--label-height) / 1.732) var(--label-height) 0;
              border-color: transparent  var(--primary-color-bg) transparent transparent;
            }

            .label {
              display: inline-block;
              width: 100%;
            }
          }
        }
  
        .period {
          margin: 0.5rem 0;
        }
      }
    }

    .actionAreaContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .imgWrapper {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        
        img {
          width: 33%;
          height: auto;

        }
      }
  
      .actionBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .prompt {
          align-self: flex-start;
          height: 1.5rem;
          line-height: 1.5rem;
          margin: 0.5rem 0;
          display: flex;
          align-items: center;

          a {
            height: 100%;
            margin-left: 0.5rem;

            img {
              height: 83.33%;
              aspect-ratio: 1/1;
            }
          }
        }
  
        .codeRow {
          width: 100%;
          display: flex;
          justify-content: space-between;
  
          .button { flex-basis: 30%; }
        }
  
        .button {
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid var(--secondary-color);
          border-radius: 20px;
          cursor: pointer;
  
          &.selected, &.shop {
            color: var(--primary-color-bg);
            background-color: var(--secondary-color);
          }
  
          &.shop {
            width: 100%;
          }
        }
      }
    }
  }
}