@import "@/styles/variables.scss";

.signupSection {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  :global {
    .background {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;

      .curtain {
        width: 50%;
        background-color: $secondary-color;
      }
    }

    .foreground {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 0 $padding-horizontal;
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        width: 33%;
        display: flex;
        flex-direction: column;
      }

      .igDemoViewImgWrapper {
        height: 85%;
        justify-content: center;
        align-items: center;
        z-index: 2;
  
        img {
          height: 100%;
          width: auto;
        }
      }

      .block {
        height: 100%;
        display: flex;
        padding: 10vh 0;
        padding: 10dvh 0;

        &.instruction {
          text-align: left;
          color: $primary-color-bg;

          h4 {
            font-weight: 700;
          }

          .description {
            margin: 1rem 0;
          }

          .instructionContainer {
            flex-basis: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .stepBlock {
              display: flex;
              flex-direction: column;
              
  
              .label {
                width: fit-content;
                padding: 0.25rem 1rem;
                margin-bottom: 0.25rem;
                color: $primary-color;
                background-color: $primary-color-bg;
              }
            }
          }
        }

        &.prompt {
          justify-content: space-between;

          .imgWrapper {
            display: flex;
            align-items: center;
            flex: 1;
            transform: translateX(10%);

            img {
              width: 40%;
              height: auto;

              &.first { transform: translate(-25%, -33%) rotate(-10deg); }
              &.second { transform: translate(-50%); }
              &.third { transform: translate(-75%, 33%) rotate(10deg); }
            }
          }

          .bottomRow {
            flex-basis: 15%;

            a {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}