@font-face {
  font-family: 'Unifont';
  src: url('/fonts/GnuUnifontFull-Pm9P.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7';
  src: url('/fonts/DS-DIGI.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7';
  src: url('/fonts/DS-DIGIB.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

html {
  --primary-color: #FFF;
  --primary-color-bg: #000;
  --secondary-color: #BCC6CC;
  --secondary-color-bg: #101010;
  --specific-color: #464646;
  --specific-color-bg: #BABABA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color-bg);
  font-family: Unifont, sans-serif;
  font-size: 15px;
  font-size: 16px;
  text-align: center;
  color: var(--primary-color);
  white-space: pre-line;
  user-select: none;
  overflow-x: hidden;
}

#__next {
  position: absolute;
  top: 0;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;

  @media (max-aspect-ratio: 1/1) {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10vh 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-aspect-ratio: 1/1) {
  body {
    @media (max-height: 720px) {
      font-size: 12px;
    }

    @media (min-width: 720px) {
      font-size: 24px;
    }
  }

  section {
    padding: 5vh 1.5rem;

    @media (max-aspect-ratio: 1/1) {
      padding: 5vh 1.5rem;
      padding: 5dvh 1.5rem;
    }
  }
}