@mixin metallic {
  -webkit-box-shadow: inset 0px 0px 4px 0px $secondary-color,
    0px 0px 0.5em 0px $secondary-color;
  -moz-box-shadow: inset 0px 0px 4px 0px $secondary-color,
    0px 0px 0.5em 0px $secondary-color;
  box-shadow: inset 0px 0px 4px 0px $secondary-color,
    0px 0px 4px 0px $secondary-color;

  &:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background-color: $secondary-color;
    border-radius: 50%;
    box-shadow: 0 0 4px 0.4px $secondary-color;
    transition: opacity 300ms linear;
  }

  &:hover {
    color: $secondary-color-bg;
    text-shadow: none;

    &:not(.selected):after {
      opacity: 1;
      filter: blur(8px);
    }
  }
}
