@mixin metallic {
  -webkit-box-shadow: inset 0px 0px 4px 0px var(--secondary-color),
    0px 0px 0.5em 0px var(--secondary-color);
  -moz-box-shadow: inset 0px 0px 4px 0px var(--secondary-color),
    0px 0px 0.5em 0px var(--secondary-color);
  box-shadow: inset 0px 0px 4px 0px var(--secondary-color),
    0px 0px 4px 0px var(--secondary-color);

  &:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 0 4px 0.4px var(--secondary-color);
    transition: opacity 300ms linear;
  }

  &:hover {
    color: var(--secondary-color-bg);
    text-shadow: none;

    &:not(.selected):after {
      opacity: 1;
      filter: blur(8px);
    }
  }
}

@mixin swiperNavigation {
  .swiper-button-prev, .swiper-button-next {
    color: var(--primary-color-bg);
    opacity: 0.6;
    transform: scale(0.6);
    -webkit-text-stroke: 1px var(--primary-color);

    &:hover {
      opacity: 1;
      transform: scale(1);
      transition: transform 0.25s ease-out;

      &.clicked {
        transform: scale(0.6);
        transition: transform 0.1s ease-out;
      }
    }
  }
}
