@import "@/styles/variables.scss";

$grid-row-cnt: 8;
$grid-col-cnt: 8;
$grid-row-height: calc((100vh - 2 * $padding-vertical) / $grid-row-cnt);
$grid-row-height: calc((100dvh - 2 * $padding-vertical) / $grid-row-cnt);
$grid-column-width: calc((100vw - 2 * $padding-horizontal) / $grid-col-cnt);
$grid-column-width: calc((100dvw - 2 * $padding-horizontal) / $grid-col-cnt);

$main-view-row-cnt: 5;
$main-view-row-height: calc((100vh - 2 * $padding-vertical) / $main-view-row-cnt);
$main-view-row-height: calc((100dvh - 2 * $padding-vertical) / $main-view-row-cnt);

$grid-row-height-mobile: calc((100vh - 2 * $padding-vertical-mobile) / $grid-row-cnt);
$grid-row-height-mobile: calc((100dvh - 2 * $padding-vertical-mobile) / $grid-row-cnt);
$grid-column-width-mobile: calc((100vw - 2 * $padding-horizontal-mobile) / $grid-col-cnt);
$grid-column-width-mobile: calc((100dvw - 2 * $padding-horizontal-mobile) / $grid-col-cnt);

$main-view-row-cnt-mobile: 12;
$main-view-row-height-mobile: calc((100vh - 2 * $padding-vertical-mobile) / $main-view-row-cnt-mobile * 0.8);
$main-view-row-height-mobile: calc((100dvh - 2 * $padding-vertical-mobile) / $main-view-row-cnt-mobile * 0.8);

.partnershipSection {
  :global {
    .runnerWrapper {
      position: absolute;
      width: calc(100% - 2 * $padding-horizontal);

      &.top { top: calc($padding-vertical - 1.5rem); }
      &.bottom { bottom: calc($padding-vertical - 1.5rem); }

      .runnerItem {
        > span > span:first-child {
          padding-right: 1rem;
        }
      }
    }
    
    .floatingSloganContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $padding-vertical $padding-horizontal;
      transform-origin: center;

      .floatingSloganInnerContainer {
        position: relative;
        width: 100%;
        height: 100%;

        .floatingSlogan {
          position: absolute;
          color: $primary-color-bg;
          text-shadow: 2px 2px 0 $secondary-color,
            -2px -2px 0 $secondary-color,  
            2px -2px 0 $secondary-color,
            -2px 2px 0 $secondary-color;
          white-space: nowrap;
          text-align: start;
          font-weight: 600;
    
          &.left {
            left: 0;
            font-size: calc(2 * $grid-row-height);
            line-height: calc(2 * $grid-row-height);
            padding-left: 0.5rem;

            &.top { top: 0; }
            &.bottom { bottom: 0; }
          }

          &.right {
            left: calc($grid-column-width * 7);
            bottom: $grid-row-height;
            font-size: calc($grid-column-width * 0.5);
            line-height: calc($grid-column-width * 0.5);
            transform-origin: left bottom;
            transform: translate(calc(0px - ($grid-column-width * 0.25)), -0.5rem) rotate(270deg);
          }
        }
      }
    }

    .gridContainer {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;

      .grid {
        position: absolute;
        width: 400%;
        height: 400%;
        top: 50%;
        left: 50%;
        display: grid;
        grid-template-rows: repeat($grid-row-cnt, minmax(0, 1fr));
        grid-template-columns: repeat($grid-col-cnt, minmax(0, 1fr));
        border: 2px solid $secondary-color;
  
        > div {
          border: 2px solid $secondary-color;

          &.expandedCol { grid-column: 4 / 6; }
          &.expandedRow { grid-row: 4 / 6; }
        }
      }
    }
    
    .mainView {
      position: relative;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: repeat($main-view-row-cnt, minmax(0, 1fr));
      overflow: hidden;
    
      .slogan {
        line-height: $main-view-row-height;
        font-size: $main-view-row-height;
        color: $primary-color-bg;
        text-shadow: 2px 2px 0 $secondary-color,
          -2px -2px 0 $secondary-color,  
          2px -2px 0 $secondary-color,
          -2px 2px 0 $secondary-color;
        font-weight: 900;

        &.elevated {
          position: relative;
          z-index: 3;
        }
      }

      .imgWrapper {
        position: absolute;
        width: 45%;
        transform: translate(-50%, -50%);

        img {
          width: 100%;
          height: auto;
        }
        
        &.groupA, &.groupC {
          z-index: 2;
          transform: translate(0, -50%);
        }
      }
  
      .topRow {
        display: flex;
        justify-content: space-between;
  
        span {
          padding-left: 1rem;
        }
  
        img {
          height: calc($main-view-row-height / 2);
          width: auto;
          padding-top: 4px;
          padding-right: 2px;
        }
      }
  
      .bottomRow {
        grid-row-start: 4;
        text-align: right;

        span {
          padding-right: 1rem;
        }
      }
  
      .bodyRow {
        z-index: 4;
        background-color: $primary-color-bg;
        grid-row-start: 5;
        border-top: $secondary-color 2px solid;
        padding: 0 1rem;
        text-align: left;
        display: flex;
        align-items: center;
      }
    }
  }
}