.scheduleSection {
  --label-height: 1.5rem;

  @media (max-height: 568px) {
    --label-height: 1rem;
  }

  @media (min-width: 720px) {
    --label-height: 2rem;

    @media (min-height: 1280px) {
      --label-height: 3rem;
    }
  }

  :global {
    .scheduleItem {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;
      color: var(--secondary-color);

      &.active {
        color: var(--primary-color);

        .labelContainer {
          color: var(--primary-color-bg);
          background-color: var(--secondary-color);
        }
      }

      .labelContainer {
        display: flex;
        align-items: center;
        width: 30%;
        height: var(--label-height);
        color: var(--primary-color-bg);
        background-color: var(--specific-color);

        @media (min-width: 720px) {
          width: 40%;
        }

        &::after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 calc(var(--label-height) / 1.732) var(--label-height) 0;
          border-color: transparent  var(--primary-color-bg) transparent transparent;
        }
  
        .label {
          display: inline-block;
          width: 100%;
        }
      }

      .period {
        margin: 0.5rem 0;

        @media (min-width: 720px) {
          margin: 0.75rem 0;
        }
      }

      .actionBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .prompt {
          height: 1.5rem;
          line-height: 1.5rem;
          margin: 0.5rem 0;
          display: flex;
          align-items: center;

          @media (min-width: 720px) {
            margin-bottom: 3rem;
          }

          a {
            height: 100%;
            margin-left: 0.5rem;

            img {
              height: 83.33%;
              aspect-ratio: 1/1;
            }
          }
        }

        .button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          border: 2px solid var(--secondary-color);
          border-radius: 20px;

          @media (min-width: 720px) {
            margin-bottom: 2rem;

            @media (min-height: 1280px) {
              height: var(--label-height);
            }
          }

          &.selected, &.shop {
            color: var(--primary-color-bg);
            background-color: var(--secondary-color);
          }

          &.shop {
            margin: 0;

            @media (min-width: 720px) {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}