.scheduleSection {
  --label-height: 1.5rem;

  @media (max-height: 568px) {
    --label-height: 1rem;
  }

  @media (min-width: 720px) {
    --label-height: 2rem;

    @media (min-height: 1280px) {
      --label-height: 3rem;
    }
  }

  :global {
    .scheduleItem {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;

      &.expired {
        color: var(--secondary-color);

        .labelContainer {
          color: var(--secondary-color);
          background-color: var(--specific-color);
        }
      }

      &.active {
        .labelContainer {
          justify-content: space-between;
          width: 100%;
          z-index: -1;

          .label {
            width: calc(30% - 1rem);

            @media (min-width: 720px) {
              width: calc(40% - 1rem);
            }
          }
        }
      }

      &:not(.active) .labelContainer::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 calc(var(--label-height) / 1.732) var(--label-height) 0;
        border-color: transparent  var(--primary-color-bg) transparent transparent;
      }

      .labelContainer {
        display: flex;
        align-items: center;
        width: 30%;
        height: var(--label-height);
        color: var(--primary-color-bg);
        background-color: var(--secondary-color);

        @media (min-width: 720px) {
          width: 40%;
        }
  
        .label {
          display: inline-block;
          width: 100%;
        }

        .activeLabel {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40%;
          height: 100%;
  
          &::before {
            align-self: flex-start;
            display: inline-block;
            content: '';
            width: 6px;
            height: 150%;
            background-color: var(--primary-color-bg);
            transform: rotate(-30deg);
            transform-origin: left top;
            margin-right: var(--label-height);
          }
        }
      }

      .period {
        margin: 0.5rem 0;

        @media (min-width: 720px) {
          margin: 0.75rem 0;
        }
      }

      .actionBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .prompt {
          margin-bottom: 2rem;

          // @media (max-height: 568px) {
            margin-bottom: 1rem;
          // }

          @media (min-width: 720px) {
            margin-bottom: 3rem;
          }
        }

        .button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          border: 2px solid var(--secondary-color);
          border-radius: 20px;

          @media (min-width: 720px) {
            margin-bottom: 2rem;

            @media (min-height: 1280px) {
              height: var(--label-height);
            }
          }

          &.selected, &.shop {
            color: var(--primary-color-bg);
            background-color: var(--secondary-color);
          }

          &.shop {
            margin: 0;

            @media (min-width: 720px) {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}