.heroSection {
  --grid-row-cnt: 8;
  --grid-col-cnt: 8;
  --grid-row-height-fallback: calc((100vh - 2 * 10vh) / var(--grid-row-cnt));
  --grid-column-width-fallback: calc((100vw - 2 * 10vh) / var(--grid-col-cnt));
  
  --main-view-row-cnt: 5;
  --main-view-row-height-fallback: calc((100vh - 2 * 10vh) / var(--main-view-row-cnt));

  :global {
    .runnerWrapper {
      position: absolute;
      width: calc(100% - 2 * 10vh);

      &.top { top: calc(10vh - 2rem); }
      &.bottom { bottom: calc(10vh - 2rem); }

      .runnerItem > span:first-child {
        padding-right: 1rem;
        font-weight: bold;
      }
    }
    
    .floatingSloganContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10vh 10vh;
      transform-origin: center;
      font-family: Inter, sans-sarif;

      .floatingSloganInnerContainer {
        position: relative;
        width: 100%;
        height: 100%;

        .floatingSlogan {
          position: absolute;
          color: var(--primary-color-bg);
          text-shadow: 2px 2px 0 var(--secondary-color),
            -2px -2px 0 var(--secondary-color),  
            2px -2px 0 var(--secondary-color),
            -2px 2px 0 var(--secondary-color);
          white-space: nowrap;
          text-align: start;
          font-weight: 600;
    
          &.left {
            left: 0;
            font-size: calc(2 * var(--grid-row-height-fallback));
            line-height: calc(2 * var(--grid-row-height-fallback));
            padding-left: 0.5rem;

            &.top { top: 0; }
            &.bottom { bottom: 0; }
          }

          &.right {
            left: calc(var(--grid-column-width-fallback) * 7);
            bottom: var(--grid-row-height-fallback);
            font-size: calc(var(--grid-column-width-fallback) * 0.5);
            line-height: calc(var(--grid-column-width-fallback) * 0.5);
            transform-origin: left bottom;
            transform: translate(calc(0px - (var(--grid-column-width-fallback) * 0.25)), -0.5rem) rotate(270deg);
          }
        }
      }
    }

    .gridContainer {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;

      .grid {
        position: absolute;
        width: 400%;
        height: 400%;
        top: 50%;
        left: 50%;
        display: grid;
        grid-template-rows: repeat(var(--grid-row-cnt), minmax(0, 1fr));
        grid-template-columns: repeat(var(--grid-col-cnt), minmax(0, 1fr));
        border: 2px solid var(--secondary-color);
        background-color: var(--primary-color-bg);
  
        > div {
          border: 2px solid var(--secondary-color);

          &.expandedCol { grid-column: 4 / 6; }
          &.expandedRow { grid-row: 4 / 6; }
          &.expandedCol.expandedRow { overflow-y: hidden; }
        }
      }
    }
    
    .mainView {
      position: relative;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: repeat(var(--main-view-row-cnt), minmax(0, 1fr));
      overflow: hidden;
    
      .slogan {
        line-height: var(--main-view-row-height-fallback);
        font-family: Inter, sans-sarif;
        font-size: var(--main-view-row-height-fallback);
        color: var(--primary-color-bg);
        text-shadow: 2px 2px 0 var(--secondary-color),
          -2px -2px 0 var(--secondary-color),  
          2px -2px 0 var(--secondary-color),
          -2px 2px 0 var(--secondary-color);
        font-weight: 900;

        &.elevated {
          position: relative;
          z-index: 3;
        }
      }

      .imgWrapper {
        position: absolute;
        width: 45%;
        transform: translate(-50%, -50%);

        img {
          width: 100%;
          height: auto;
        }
        
        &.groupA, &.groupC {
          z-index: 2;
          transform: translate(0, -50%);
        }
      }
  
      .topRow {
        display: flex;
        justify-content: space-between;
  
        span {
          padding-left: 1rem;
        }
  
        img {
          height: calc(var(--main-view-row-height-fallback) / 2);
          width: auto;
          padding-top: 4px;
          padding-right: 2px;
        }
      }
  
      .bottomRow {
        grid-row-start: 4;
        text-align: right;

        span {
          padding-right: 1rem;
        }
      }
  
      .bodyRow {
        z-index: 4;
        background-color: var(--primary-color-bg);
        grid-row-start: 5;
        border-top: var(--secondary-color) 2px solid;
        padding: 0 1rem;
        text-align: left;
        display: flex;
        align-items: center;
      }
    }
  }
}