@import "@/styles/variables.scss";

.runner {
  width: 100%;
  color: primary-color;
  font-family: 'digital-7', 'Inter', Sans-Serif;
  font-weight: 400;

  :global {
    .runnerInnerContainer {
      display: flex;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
  
      .itemContainer {
        width: 200%;
        min-width: 200%;
        display: flex;

        .measurerWrapper {
          visibility: hidden;
        }

        .runnerItem {
          flex: 1;
        }
      }
    }
  }
}