@import "@/styles/variables.scss";

.transitionSection {
  padding: 0;

  :global {
    .motionContainer {
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;

      .transFlash, .labelContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
      }

      .transFlash {
        height: 100%;
        background-color: white;
      }

      .labelContainer {
        width: 100vw;
        width: 100dvw;
        height: 200vh;
        height: 200dvh;
        padding: 0 $padding-horizontal;
        z-index: 2;
        display: flex;
        flex-direction: column;
        color: $primary-color-bg;
        
        > div {
          width: 66.7%;
          height: 25%;
          font-size: 2.5rem;
          display: flex;
          align-items: flex-start;
          text-align: start;

          &:nth-of-type(even) {
            text-align: end;
            align-self: flex-end;

            > div {
              width: 100%;
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }

      .imgWrapper {
        position: relative;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    @media (max-aspect-ratio: 1/1) {
      .motionContainer {
        .labelContainer {
          height: 265vh;
          padding: 0 $padding-horizontal-mobile;

          > div {
            font-size: 2rem;
            width: 100%;
            height: 33%;
            align-items: center;

            &:nth-of-type(even) {
              align-self: flex-start;
              text-align: start;

              > div {
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }
  }
}