@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.giveawaySection {
  :global {
    .boxContainer {
      position: relative;
      width: 100%;
      height: 100%;

      .border {
        position: absolute;
        background-color: $secondary-color;
        height: 2px;

        &.top, &.bottom { height: 2px; }
        &.left, &.right { width: 2px; }
        &.top { top: 0; left: 0; }
        &.bottom { bottom: 0; right: 0; }
        &.left { left: 0; bottom: 0; }
        &.right { right: 0; top: 0; }
      }

      .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        margin: 0.75rem;
        width: calc(100% - 1.5rem);
        height: calc(100% - 1.5rem);

        .showcaseContent {
          width: 100%;
          height: 100%;

          .swiper-wrapper {
            width: 100%;
            height: 100%;

            .swiper-slide {
              border: 2px solid $secondary-color;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                height: 100%;
                width: auto;

                @media (max-aspect-ratio: 1/1) {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }

          @include swiperNavigation;
        }
      }
    }

    .detailContainer {
      padding-left: $padding-horizontal / 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        margin: 0.5rem 0;
      }

      .subtitle {
        margin-bottom: 0.75rem;
      }
      
      .prizeList {
        .prizeContainer {
          margin-bottom: 0.75rem;

          .prize {
            width: fit-content;
            padding-bottom: 0.25rem;
            margin-bottom: 0.25rem;
            font-weight: 900;
            border-bottom: 1px solid $secondary-color;
          }

          .content {
            text-align: start;
          }
        }
      }
    }
  }
}