@import "@/styles/variables.scss";

.sectionBanner, .topSectionBanner {
  position: absolute;
  bottom: calc($padding-vertical - 2rem);
  width: calc(100vw - 2 * $padding-horizontal);

  &.top { top: calc($padding-vertical - 2rem); }
  &.bottom { bottom: calc($padding-vertical - 2rem); }

  @media (max-aspect-ratio: 1/1) {
    bottom: calc($padding-vertical-mobile - 1.75rem);
    width: calc(100vw - 2 * $padding-horizontal-mobile);

    @media (min-width: 720px) {
      bottom: calc($padding-vertical-mobile - 2.25rem);
    }
  }

  :global {
    .runnerWrapper {
      width: 100%;
  
      .runnerItem > span:first-of-type {
        font-weight: bold;
        padding-right: 1rem;
      }
    }
  }
}

@media (max-aspect-ratio: 1/1) {
  .topSectionBanner {
    position: absolute;
    top: calc($padding-vertical-mobile - 1.75rem);
    left: $padding-horizontal-mobile;
    bottom: unset;
    width: calc(100vw - 2 * $padding-horizontal-mobile);

    @media (min-width: 720px) {
      top: calc($padding-vertical-mobile - 2.25rem);
    }
  }
}