@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.introSection {
  flex-direction: row;
  justify-content: space-between;

  :global {
    .block {
      width: 47.5%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;

      &.content {
        position: relative;
        align-items: flex-start;

        > div {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        
        .detail {
          margin: 2rem 0;
        }
    
        .period {
          width: 50%;
          line-height: 3rem;
          text-align: center;
          border-top: 1px solid $secondary-color;
          border-bottom: 1px solid $secondary-color;
          margin-bottom: 1rem;
        }
      }

      &.display {
        border: 1px solid $secondary-color;

        .imgWrapper {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  @media (max-aspect-ratio: 1/1) {
    flex-direction: column-reverse;

    :global {
      .block {
        width: 100%;
        height: 47.5%;

        &.content {
          justify-content: space-between;

          .period {
            width: 100%;

            @media (min-width: 720px) {
              line-height: 4rem;
            }
          }
        }

        &.display img {
          height: 100%;
          width: auto;
        }
      }
    } 
  }
}