@import "@/styles/variables.scss";

.giveawaySection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  h1 {
    margin-bottom: 0.5rem;

    @media (max-width: 720px) {
      font-size: 1.25rem;
    }
  }

  :global {
    .boxContainer {
      flex: 1;
      max-height: 40vh;
      max-height: 40dvh;
      position: relative;
      width: 100%;

      @media (max-height: 568px) {
        max-height: 33vh;
        max-height: 33dvh;
      }

      @media (min-width: 720px) {
        max-height: 50vh;
        max-height: 50dvh;
      }

      .border {
        position: absolute;
        background-color: $secondary-color;
        height: 2px;
  
        &.top, &.bottom { height: 2px; }
        &.left, &.right { width: 2px; }
        &.top { top: 0; left: 0; }
        &.bottom { bottom: 0; right: 0; }
        &.left { left: 0; bottom: 0; }
        &.right { right: 0; top: 0; }
      }
  
      .box {
        margin: 0.75rem;
        width: calc(100% - 1.5rem);
        height: calc(100% - 1.5rem);

        @media (min-width: 720px) {
          margin: 1.5rem;
          width: calc(100% - 3rem);
          height: calc(100% - 3rem);
        }

        .showcaseContent {
          width: 100%;
          height: 100%;

          .swiper-wrapper {
            width: 100%;
            height: 100%;

            .swiper-slide {
              border: 2px solid $secondary-color;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                height: 100%;
                width: auto;
              }
            }
          }

          .swiper-button-prev, .swiper-button-next {
            color: $primary-color-bg;
            opacity: 0.6;
            transform: scale(0.6);
            -webkit-text-stroke: 1px $primary-color;

            &:hover {
              opacity: 1;
              transform: scale(1);
              transition: transform 0.25s ease-out;

              &.clicked {
                transform: scale(0.6);
                transition: transform 0.1s ease-out;
              }
            }
          }
        }
      }
    }

    .detailContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        margin-top: 0.5rem;

        @media (max-width: 720px) {
          margin-bottom: 0;
        }
      }

      .subtitle {
        margin: 0.5rem 0;

        @media (max-height: 568px) {
          height: 2rem;
          margin: 0;
        }
      }
      
      .prizeList {
        .prizeContainer {
          margin-bottom: 0.25rem;

          .prize {
            width: fit-content;
            padding-bottom: 0.25rem;
            margin-bottom: 0.25rem;
            font-weight: 900;
            border-bottom: 1px solid $secondary-color;
          }
        }
      }
    }
  }
}