@import "@/styles/variables.scss";

.signupSection {
  padding: 0;

  :global {
    .background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;

      .blurryBgWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -2;

        img {
          width: 100%;
          height: auto;
        }
      }

      .curtain {
        position: absolute;
        top: 25%;
        width: 100%;
        height: 75%;
        background-color: $primary-color;
      }
    }

    .foreground {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      color: $primary-color-bg;

      .block {
        position: absolute;
        left: 0;
        padding: 0 $padding-horizontal-mobile;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.main {
          top: 0;
          height: fit-content;
          padding-top: $padding-vertical-mobile;

          .igDemoViewImgWrapper {
            width: 50%;

            @media (min-width: 720px) {
              width: 33%;
            }
      
            img {
              width: 100%;
              height: auto;
            }
          }
  
          .instruction {
            display: flex;
            flex-direction: column;
            text-align: left;
  
            h1 {
              margin-bottom: 1rem;
            }
  
            .description {
              margin-top: 0.5rem;
              margin-bottom: 1rem;
            }
  
            .instructionContainer {
              display: flex;
              flex-direction: column;
  
              .stepBlock {
                display: flex;
                flex-direction: column;

                h3 {
                  margin-top: 0.5rem;
                  margin-bottom: 0.25rem;

                  &:first-of-type {
                    margin-top: 0;
                  }

                  .label {
                    width: fit-content;
                    padding: 0 0.25rem;
                    margin-right: 0.25rem;
                    color: $primary-color;
                    background-color: $primary-color-bg;
                  }

                  @media (min-width: 720px) {
                    margin-bottom: 0.5rem;

                    .label {
                      padding: 0 0.5rem;
                      margin-right: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }

        &.prompt {
          bottom: 0;
          padding-top: $padding-vertical-mobile / 2;
          padding-bottom: $padding-vertical-mobile;
          color: $primary-color;
          background-color: $primary-color-bg;

          h2 {
            align-self: flex-start;
            text-align: start;
          }

          .imgWrapper {
            width: 100%;
            display: flex;
            align-items: center;
            border: 2px solid $secondary-color;

            img {
              width: 100%;
              height: auto;
            }
          }

          a {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}